{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    
</head>

    <nav>
        <div class="container">
            <h1>PeachyBoys</h1>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'user_login' %}">Login</a></li>
                <li><a href="{% url 'registration' %}">Register</a></li>
            </ul>
        </div>
    </nav>

    {% block content %}

    {% endblock %}


</body>
</html>