{% extends 'base.html' %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% load static %}
{% block content %}


{% for message in messages %}
    {{ message }}
{% endfor %}

    <div class="container">
        <h1>Welcome to PeachyBoys</h1>
        <p>This is a sample paragraph about the PeachyBoys</p>

        <h2>About Us</h2>
        <p>More information about the PeachyBoys<br>Coming Soon..!!</p>

        <h2>Our Services</h2>
        <p>A brief overview of the services offered by the PeachyBoys<br>Coming Soon..!!</p>

        <h2>Contact Us</h2>
        <p>Get in touch with us for any inquiries or support.<br>
            <button class="btn btn-primary" onclick="window.location.href='tel:0758056162'">
                Click to Call
            </button>
            <br>
            <button class="btn btn-success" ><a href="https://wa.me/0758056162?text=SGVsbG8sIHdvcmxkIGluIHRoZXknZW4%3D" style="text-decoration: none; color: white;">Chat with us on WhatsApp</a></button>
            <br>
        </p>
    </div>

{% endblock %}